/* Therapies.css */

.therapy-containers {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.therapy-containers h2 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #333;
}

.therapy-li {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.therapy-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(104, 231, 92, 0.856);
    overflow: hidden;
    width: 50%;
    max-width: 800px;
}
.therapy-items:hover {
    transform: scale(1.05);
}

.therapy-img {
    flex: 1;
    min-width: 150px;
}

.therapy-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.therapy-detail {
    flex: 2;
    padding: 20px;
    text-align: left;
}

.therapy-detail h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.therapy-detail p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.therapy-detail button {
    background-color: #4beb80;
    color: rgb(34, 30, 30);
    border: 1px solid;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.therapy-detail button:hover {
    background-color: #ddebfa;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .therapy-items {
        flex-direction: column;
    }

    .therapy-img {
        min-width: 100%;
    }

    .therapy-img img {
        width: 100%;
        height: auto;
    }

    .therapy-detail {
        padding: 15px;
        text-align: center;
    }

    .therapy-detail h3 {
        font-size: 1.5rem;
    }

    .therapy-detail p {
        font-size: 0.9rem;
    }
    .therapy-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(104, 231, 92, 0.856);
        overflow: hidden;
        width: 60%;
        max-width: 800px;
    }
    .therapy-detail button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
@media (max-width: 480px){
    .therapy-items {
        flex-direction: column;
    }

    .therapy-img {
        min-width: 100%;
    }

    .therapy-img img {
        width: 100%;
        height: auto;
    }

    .therapy-detail {
        padding: 15px;
        text-align: center;
    }

    .therapy-detail h3 {
        font-size: 1.5rem;
    }

    .therapy-detail p {
        font-size: 0.9rem;
    }
    .therapy-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(104, 231, 92, 0.856);
        overflow: hidden;
        width: 100%;
        max-width: 800px;
    }
    .therapy-detail button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
